<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	Get help on the Ruby on Rails Tutorial at the
	<a href="https://railstutorial.jp/help">Rails Tutorial help section</a>.
	<a href="https://railstutorial.jp/#ebook">Ruby on Rails Tutorial book</a>.
</p>